/* 1 rem = 1 em = 16px */


/*
  Below 1375px - smaller desktops
*/
@media(max-width: 86em) {
  /* html {
    font-size: 56.25%;
  } */

  .header-and-first-section {
    max-width: 73em;
  }

  section {
    max-width: 73em;
  }

}

/*
  Below 1232px - tablets landscape
*/
@media(max-width: 77em) {
  html {
    font-size: 56.25%;
  }

  .header-and-first-section {
    max-width: 68em;
  }

  section {
    max-width: 68em;
  }

  /* .chart-frequencies {
    height: 1100px;
  } */
}

/* Below 960px - tablets */
@media(max-width: 61rem) {
  html {
    font-size: 50%;
  }

  /* .chart-frequencies {
    height: 1000px;
  } */
}

/* 600px - 900px */
/* 300px - 500px */