/* 1 rem = 1 em = 16px */


/*
  Below 1375px - smaller desktops
*/

/*
  Below 1200px - tablets landscape
*/
@media(max-width: 75em) {
  html {
    font-size: 50%;
  }

  .list-movies {
    flex-wrap: wrap;
    gap: 1em 2em;
  }

  .chart-frequencies {
    height: 1050px;
  }
}

/* Below 944px - tablets */
@media(max-width: 59em) {

  h1 {
    font-size: 3.8em;
  }

  /* img {
    width: 13em;
  } */

  /* .list-item-movies {
    width: 13em; 
  } */
  
  .list-movies {
    margin-top: 4em; 
  }

  .loading-row {
    height: 4em;
  }

  .chart-frequencies {
    height: 950px;
  }

}

/* Below 704px - smaller tablets */
@media(max-width: 44em) {
  h1 {
    text-align: center;
  }

  .chart-circle {
    width: 35em;
  }

  #phrase-frequencies {
    /* width: 80%; */
  }

  /* #phrase-frequencies-h2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
  } */

}

/* Below 544px - phones */
@media(max-width: 34em) {
  html {
    font-size: 43.75%;
  }

  input {
    width: 15em;
  }

  h2 {
    font-size: 2em;
  }

  .chart-circle {
    width: 30em;
  }

  #phrase-frequencies-h2 {
    padding-left: 0.8em;
  }

  .section-phrase-frequency {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  .swear-word-no {
    font-size: 1.5em;
  }

}

/* Below 368px - very narrow */
@media(max-width: 23em) {
  h2 {
    font-size: 1.9em;
  }

  .chart-circle {
    width: 28em;
  }

  .header-nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .word-count-outer {
    flex-direction: column;
    align-items: center;
  }

  .word-count {
    margin :0;
  }

  .chart-frequencies {
    height: 850px;
  }
}

