html, 
body {
  margin: 0;
  /* min-height: 100%; */
  height: 100%;
}

body {
  font: 30px "Century Gothic", Futura, sans-serif;

  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
  Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 40px; */
  padding: 0px 40px;
  height: 14%;
}

h2 {
  font-weight: 200;
  font-size: 40px;
}

#root {
  display:flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  font-size: 16px;
}

.container {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-and-first-section {
  height: 100vh;
  background: linear-gradient(238.72deg, #0044A9 0%, #F700A3 100%), radial-gradient(100% 188.01% at 76.14% 0%, #43DDFF 0%, #FF0000 100%), linear-gradient(0deg, #DB00FF 0%, #14FF00 100%), radial-gradient(59.2% 100% at 50% 100%, #6A00D5 0%, #00E0FF 100%), radial-gradient(100% 148.07% at 0% 0%, #FF9900 0%, #001AFF 100%);
  background-blend-mode: hard-light, overlay, color-burn, color-burn, normal;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.smoovie-title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin:0;
}

.header-nav {
  padding-left: 0;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.demo-mode {
  display: flex;
}

.demo-mode a {
  margin-right:8px;
}

.header-nav a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header-nav a:hover {
  /* color: #8f0055;
  text-decoration:underline; */
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 86%;
  /* padding: 20px, 100px; */
}

h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
  margin: 0px;
}

.under-heading {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin:0;
}

fieldset {
  border: none;
}

#form-disabled-true {
  padding-left: 0;
}

#label-disabled-true {
  color:#999;
}

#label-disabled-true:hover {
  cursor: not-allowed;
}

#i-disabled-true {
  display: none;
}  

input{
  position: relative;
  padding: 15px 40px 15px 20px;
  width: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  transition: width 0.4s ease;
  outline: none;
  width: 400px;
  margin-bottom: 25%;
}

i{
  position: relative;
  top: -1px;
  left: -35px;
  color: #8f0055;
}

i:hover{
  cursor: pointer;
}

form {
  padding-left:16px;
}

.button-hide {
  background: none;
  padding: 0px;
  border: none;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}


.section-movie-list {
  background-color: rgba(230, 230, 230, 0.24);
  padding: 30px 50px 25px 50px;
}

.section-words-frequency {
  background-color: #fff;
  padding: 18px 50px 50px 50px;
}

.section-words-lengths {
  background-color: rgba(202, 202, 202, 0.24);
  padding: 50px 50px 0px 50px;
}

.section-phrase-frequency {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 18px 50px 50px 50px;
}

.section-words-swear {
  background-color: rgba(230, 230, 230, 0.24);
  padding: 50px 50px 0px 50px;
}

.section-words-swear-time {
  background-color: rgba(202, 202, 202, 0.24);
  padding: 18px 50px 50px 50px;
}

.h2-word-lengths {
  margin: 0px;
}

.h2-swear-frequencies {
  margin: 0px;
}

ol, ul {
  /* padding-left: 30px; */
  list-style-type: none;
}

.list-movies {
  display: flex;
  justify-content:space-evenly;
  margin-top: 80px; 
  margin-bottom: 0;
}

.movie-title {
  /* text-align: center; */
}

.list-item-movies {
  display: flex;
  flex-direction: column;
  width: 200px;
  
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

img {
  width: 200px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 3px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 3px;
}

.image-movies:hover{
  /* filter: brightness(80%) */
  background-color: #fff;
  opacity:0.5;
  /* border-radius: 5px; */
}

.loading-row {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word-frequency-list-container {
  width: 150px;
  /* float: right; */
  padding: 0px;
}

.word-frequency-common-words {
  padding-top: 20px;
  
}

.word-frequency-li {
  background-color:rgba(194, 221, 173, 0.473);
  display: flex;
  justify-content: space-between;
}

.phrase-frequency-list-container {
  padding: 0px;
}



.chart-circle {
  width: 600px;
}

.chart-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-word-frequencies {
  /* width: 500px; */
  height: 1100px;
}

.chart-phrase-frequencies {
  /* width: 500px; */
  height: 1200px;
}

.word-frequency-label-items {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.common-words-included {
  padding-right: 10px;
}

.slider-div {
  /* background-color: #19AB27; */
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.slider-title {
  /* background-color: #0099E0; */
  width: 200px;
  padding-right: 2px;
}

.swear-word-no {
  color: green;
}

.words-frequency-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word-count-outer {
  display: flex;
  font-size: 16px;
}

.word-count {
  margin-left: 8px;
}





















.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

/* .react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
} */

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

